<nav class="navbar navbar-expand-sm navbar-dark bg-dark h-20" role="navigation">
  <a class="navbar-brand">Dashboard</a>
  <div class="navbar-collapse collapse">
    <ul *ngIf="isLoggedIn&&isAdmin" class="navbar-nav navbar-collapse collapse">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" href="dashboard">Home</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn&&isAdmin" class="nav navbar-nav navbar-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" href="dashboard">Add user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-of-students" href="list-of-students">List of students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-of-professors" href="list-of-professors">List of professors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-subject-card" href="new-subject-card">Create subject card</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn&&isProfessor" class="navbar-nav navbar-collapse collapse">
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-subject-student" href="list-subject-student">Home</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn&&isProfessor" class="nav navbar-nav navbar-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-subject-student" href="list-subject-student">List of subjects and students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-grade" href="add-grade">Add grade</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn" class="nav navbar-nav navbar-right">
      <li  class="nav-item">
        <a class="nav-link" routerLink="/logout" href="logout">logout, {{getUserName()}}</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
