<div class="container-fluid overflow-hidden mt-3 w-75 " style="background:transparent;">
  <main>
    <div class="row g-5 ">
      <div class="col-sm">
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Add grade</h4>
            <form autocomplete="off"
                  class="needs-validation"
                  name="addGradeForm"
                  (ngSubmit)="addGrade()"
                  novalidate
                  id = "grade-form">
              <div class="row g-3 mb-5">
                <div class="col-6">
                  <label for="subject" class="form-label">Subject</label>
                  <select class="form-select" id="subject" required="" (change)="whatSubjectSelected($event)"
                           name="subjects" [(ngModel)]="addGradeForm.subject_uuid" >
                    <option *ngFor="let subject of newSubjectsList.subjects;" value="{{subject.id}}">
                      {{subject.subject_name}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid role.
                  </div>
                </div>

                <div class="col-6">
                  <label for="student" class="form-label">Student</label>
                  <select class="form-select" id="student" required=""
                          name="student" [(ngModel)]="addGradeForm.student_uuid">
                    <ng-container *ngFor="let student of newSubjectsList.subjects[whatSubject].students" >
                    <option *ngIf="subjectWait" value="{{student.id}}" >{{student.name + ' ' + student.surname}}</option>
                    </ng-container>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid status.
                  </div>
                </div>


                <div class="col-6">
                  <label for="grade-type" class="form-label">Grade type</label>
                  <select class="form-select" id="grade-type" required="" (change)="whatGradeTypeSelected($event)"
                          name="account_status" [(ngModel)]="addGradeForm.grade_type">
                    <option *ngFor="let gradetype of gradeTypeArray" value="{{gradetype}}" >{{gradetype}}</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid status.
                  </div>
                </div>

                <div class="col-6">
                  <label for="lettergrade" class="form-label">Grade</label>
                  <select class="form-select" id="lettergrade" required=""
                          name="account_status" [(ngModel)]="addGradeForm.grade">
                    <ng-container *ngFor="let grade of letterGrade">
                    <option *ngIf="letterType" value="{{grade}}" >{{grade}}</option>
                    </ng-container>
                    <ng-container *ngFor="let grade of numericGrade">
                      <option *ngIf="numericType" value="{{grade}}" >{{grade}}</option>
                    </ng-container>
                    <ng-container *ngFor="let grade of percentageGrade">
                      <option *ngIf="percentageType" value="{{grade}}" >{{grade}}</option>
                    </ng-container>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid status.
                  </div>
                </div>

                <div class="col-6">
                  <label for="grade-weight" class="form-label">Grade weight</label>
                  <select class="form-select" id="grade-weight" required=""
                          name="account_status" [(ngModel)]="addGradeForm.grade_weight">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid status.
                  </div>
                </div>
                <div class="col-6">
                  <textarea class="h-100 w-100"
                            name="comment"
                            [(ngModel)]="addGradeForm.grade_description"
                            form="grade-form">
                    Enter text here...
                  </textarea>
                </div>
              </div>
              <button type="submit" class="w-100 btn btn-primary btn-lg" onClick="setTimeout(function(){location.reload();}, 500);">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
